* {
    font-family:'Courier New', Courier, monospace
}

h1,
h2 {
    text-align: center;
    text-decoration: underline;
}

a {
    color: blue;
    text-decoration: none;
}

img {
    display: block;
    border: 4px solid blue;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

li:hover {
    background-color: black;
    color: white;
    text-decoration: none;
}

.main {
    display: block;
    margin: auto;
    width: 350px;
    background-color: cyan;
    padding: 20px;
    border: 4px solid black;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.479);
}

.main.recipe {
    width: 700px;
}

.avatar.proportioned {
    height: auto;
    width: 200px;
}

.avatar.recipe {
    height: auto;
    width: 350px;
}